* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}


.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252525;
}


.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: 1px solid #515151;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #515151;
    background-color: transparent;
    font-size: 2.5rem;
    color: #fff;
}

button:hover {
    background-color: #3b3b3b;
}

.operator {
    background-color: #f5923e;
    color: #fff;
}

.clear {
    background-color: #e03e3e;
    color: #fff;
}

.equal-sign {
    height: 100%;
    grid-area: 2/4/6/5;
}
.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 15px;
    
}
